<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" [routerLink]="['/home']" >Dating App</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="router-link-active" >
        <a class="nav-link"[routerLink]="['/members']">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link"  [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link"[routerLink]="['/members']">Memebers</a>
      </li>
      <li class="nav-item pointer" routerLinkActive="active" >
        <a class="nav-link" (click)="logOut()" >Log Out</a>
      </li>
    </ul>


    <div *ngIf="loggedIn()" class="dropdown" dropdown (click)="false">
      <a href="" class="dropdown-toggle text-light" dropdownToggle>
          Welcome {{authService.decodedToken?.unique_name | titlecase}}
      </a>
      <div class="dropdown-menu" *dropdownMenu >
      <a class="dropdown-menu"><i class="fa fa-user"></i>Edit Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-menu"><i class="fa fa-sign-out"></i> Log Out</a>
     </div>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="loginUser()">
      <input [(ngModel)]="model.username" name="username" required class="form-control mr-sm-2" type="text" placeholder="Username">
      <input [(ngModel)]="model.password" name="password" required class="form-control mr-sm-2" type="password" placeholder="Password">
      <button class="btn btn-success my-2 my-sm-0" type="submit"
           [disabled]="loginForm.controls.username?.invalid && loginForm.controls.password?.touched">Login</button>
    </form>
  </div>
</nav>
